.admin {
  width: 900px;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 1.5%;
  background-color: #f8f9fa;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

  hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #d2691e, #ff7f50, #d2691e);
    margin: 20px 0;
  }

  .llista-usuaris {
    text-align: center;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;

    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 700px;

      td, th {
        border: 1px solid #b7b7b7;
        padding: 10px;
      }

      thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #D2691E;
        color: white;
      }

      tbody {
        tr {
          color: #1D1D1D;

          &:nth-child(odd) {
            background-color: #FFF2E0;
          }

          &:nth-child(even) {
            background-color: #FFDAB9;
          }

          &:hover {
            background-color: #FFB347;
          }

          td.no-configurat {
            color: #817b7b;
          }
        }

        img {
          vertical-align: middle;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }

        img[src=""] {
          color: #817b7b;
        }

        .accions {
          .disabled i {
            cursor: not-allowed;
            opacity: 0.5;
          }
          
          i {
            cursor: pointer;
            transition: color 0.3s;
          }

          i.fa-trash-alt {
            color: #D9534F;
          }

          i.fa-trash-alt:hover {
            color: #C9302C;
          }

          i.fa-user-tie {
            color: #5BC0DE;
          }

          i.fa-user-tie:hover {
            color: #46B8DA;
          }
        }
      }
    }
  }
}