*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
  line-height: 1.5; 
  background-image: url(../img/fons.svg); 
  background-size: cover; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 1rem; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.show {
  display: block !important; 
}