:root {
  --primary-color: #ffad5c;
  --mustard: #ffd747;
  --mustard-border: #f1c219;
  --mustard-hover: #f1c219;
  --light-pink: #ffadc2;
  --light-pink-focus: #ff85a3;
  --dark-pink: #ff5b84;
  --light-purple: #ebdde9;
  --dark-purple: #D9BFD5;
  --black: #474747;
  --gray: #666666;
  --disabled: #c1c1c163;
  --btn-danger-color: #ff6060;
  --btn-danger-border-color: #ff4747;
  --btn-danger-hover-color: #ff4747;
  --btn-danger-hover-border-color: #ff2929;
  --btn-upload-color: #50dd50;
  --btn-upload-border-color: #30c938;
  --btn-upload-hover-color: #30c938;
  --btn-save-color: #ffadc2;
  --btn-save-border-color: #F286A2;
  --btn-save-hover-color: #F286A2;
  --btn-save-hover-border-color: #F286A2;
  --dot-color: #febccc;
  --dot-active-color: #FF85A3;
  --btn-make-admin-color: #6085FF;
  --btn-make-admin-border-color: #4775FF;
  --btn-make-admin-hover-color: #4775FF;
  --btn-make-admin-hover-border-color: #4775FF;
}