article {
  /* Definició de variables per l'escala de la imatge i la transició de l'icona */
  --img-scale: 1.05;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  /* Posicionament i estil bàsic de l'article */
  position: relative;
  border-radius: 16px;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  max-width: 75%;
  /* Ombra suau per donar profunditat */
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

  figure {
    overflow: hidden; /* Evita que el contingut sobrepassi el contorn */

    img {
      width: 100%; /* La imatge ocupa tot l'ample del contenidor */
      height: auto;
      aspect-ratio: 16 / 9; /* Manté una relació d'aspecte de 16:9 */
      object-fit: cover; /* Ajusta la imatge per cobrir l'àrea sense deformar-se */
      transform-origin: center; /* Defineix el punt d'escala de la imatge */
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }

    /* Botó d'eliminar amb posicionament absolut i estil */
    .btn-delete {
      background-color: var(--btn-danger-bg);
      padding: 0.375rem 0.75rem;
      position: absolute;
      right: 10px;
      top: 10px;
      color: white;
      border: 1px solid var(--btn-danger-border-color);
      border-radius: 0.375rem;
      cursor: pointer;
    }

    .btn-delete:hover {
      background-color: var(--btn-danger-hover-bg);
      border-color: var(--btn-danger-hover-border-color);
    }

    /* Botó d'editar amb posicionament absolut i estil */
    .btn-edit {
      background-color: var(--btn-warning-bg);
      padding: 0.375rem 0.75rem;
      position: absolute;
      right: 55px;
      top: 10px;
      color: white;
      border: 1px solid var(--btn-warning-border-color);
      border-radius: 0.375rem;
    }

    .btn-edit:hover {
      background-color: var(--btn-warning-hover-bg);
      border-color: var(--btn-warning-hover-border-color);
    }
  }

  .article-info {
    /* Estil per a la secció d'informació de l'article */
    padding: 10px 24px;
    display: flex;
    color: white;
    background-color: #cd7930; /* Color de fons per la informació */
    align-items: center;

    > small {
      flex: 1;
      text-align: center; /* Centra el text dins de la seva àrea */
    }
  }

  .article-body {
    /* Estil per al cos de l'article */
    padding: 24px;
    padding-top: 10px;
  
    h2 {
      text-align: unset;
      margin: unset;
      font-size: 1.4rem;
      letter-spacing: 0.06em;
      color: black;
      transition: color 0.3s ease-out; /* Transició suau pel color del text */
      word-wrap: break-word; /* Evita que les paraules es trenquin fora de l'àrea */
      white-space: normal; /* Permet que el text ocupi múltiples línies */
    }
  
    p {
      margin: 10px 0;
      font-size: small;
      word-wrap: break-word;
      white-space: normal;
    }
  
    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: #28666e; /* Color de l'enllaç */
      cursor: pointer;

      i {
        min-width: 24px;
        margin-left: 6px;
        transform: translateX(var(--link-icon-translate));
        opacity: var(--link-icon-opacity);
        transition: all 0.3s; /* Transició suau per la icona */
      }
    }
  
    a:focus {
      outline: 1px dotted #28666e; /* Dibuixa un contorn al enfocar l'enllaç */
    }
  }
}

article:has(:hover, :focus) {
  /* Quan l'article està en hover o focus, augmenta l'escala de la imatge i mostra l'icona */
  --img-scale: 1.1;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
}
