/* Santi Onieva */

/* Estil bàsic per al toaster (missatge emergent) */
.toaster {
  visibility: hidden; /* El toaster és invisible per defecte */
  min-width: 250px; /* Amplada mínima per assegurar que el contingut tingui espai */
  background-color: #333; /* Color de fons gris fosc */
  color: #fff; /* Color del text blanc */
  text-align: center; /* Text centrat */
  border-radius: 5px; /* Cantonades arrodonides */
  padding: 16px; /* Espai intern de 16px al voltant del contingut */
  position: fixed; /* Posició fixa per a que es mantingui visible mentre es desplaça la pàgina */
  z-index: 1; /* Prioritat alta perquè es mostri sobre altres elements */
  bottom: 30px; /* Desplaça el toaster cap amunt des de la part inferior de la pàgina */
  font-size: 17px; /* Mida de la lletra */
}

/* Estils específics per al toaster quan es mostren missatges de diferents tipus */
.toaster.toaster-success {
  background-color: #5cb85c; /* Verd per a missatges d'èxit */
}

.toaster.toaster-error {
  background-color: #d9534f; /* Vermell per a missatges d'error */
}

.toaster.toaster-info {
  background-color: #5bc0de; /* Blau per a missatges d'informació */
}

/* Quan el toaster té la classe 'show', es mostra amb una animació */
.toaster.show {
  visibility: visible; /* El toaster es fa visible */
  animation: fadein 0.5s, fadeout 0.5s 2.5s; /* Animació d'entrada de 0.5s i d'escapada després de 2.5s */
}

/* Definició de l'animació per fer aparèixer el toaster */
@keyframes fadein {
  from {bottom: 0; opacity: 0;} /* Comença a la part inferior amb opacitat 0 (invisible) */
  to {bottom: 30px; opacity: 1;} /* Es desplaça cap amunt i es fa visible */
}

/* Definició de l'animació per fer desaparèixer el toaster */
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;} /* Comença des de la seva posició visible */
  to {bottom: 0; opacity: 0;} /* Es desplaça cap avall i es fa invisible */
}
